{{define "Edit"}}

{{template "_head"}}

{{template "_menu"}}

<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Editando Driver</h1>
                <p class="lead">Insira os dados para atualizar ou editar</p>
            </div>
        </div>
        <form method="POST" action="insert" id="myForm">
            <input type="hidden" name="driver_id" value="{{.UserID}}">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" name="name" class="form-control" value="{{.Name}}" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="preco">Contato:</label>
                        <input type="text" name="contact" class="form-control" step="0.01" value="{{.Contact}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Status:</label>
                        <input type="text" name="status" class="form-control" value="{{.Status}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CNH:</label>
                        <input type="text" name="cnh_doc_complete" class="form-control" value="{{.CnhDocComplete}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">RG:</label>
                        <input type="text" name="rg_doc_complete" class="form-control" value="{{.RgDocComplete}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="descricao">Placa:</label>
                        <input type="text" name="car_plate" class="form-control" value="{{.Plate}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Modelo do veículo:</label>
                        {{$var :=""}}
                        {{$te := .CarModel}}
                        {{if $var ne $te}}
                        <input type="text" name="car_model" class="form-control">
                        {{else}}
                        <input type="text" name="car_plate" class="form-control" value="{{$te}}">
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Marca do veículo:</label>
                        <input type="text" name="car_brand" class="form-control" value="{{.CarBrand}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Renavam</label>
                        <input type="text" name="renavam" class="form-control" value="{{.Renavam}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Chassi</label>
                        <input type="text" name="car_chassi" class="form-control" value="{{.Chassi}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Cor do veículo</label>
                        <input type="text" name="car_color" class="form-control" value="{{.CarColor}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Ano do veículo</label>
                        <input type="text" name="car_year" class="form-control" value="{{.CarYear}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Tipo do veículo</label>
                        <input type="text" name="car_type" class="form-control" value="{{.CarType}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Capacidade do veículo</label>
                        <input type="text" name="car_capacity" class="form-control" value="{{.CarCapacity}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">AnttNumber</label>
                        <input type="text" name="antt_number" class="form-control" value="{{.AnttNumber}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">Dono do veículo</label>
                        <input type="text" name="car_owner" class="form-control" value="{{.CarOwner}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CPF/CNPJ do proprietário</label>
                        <input type="text" name="car_owner_cnpj_cpf" class="form-control" value="{{.CarOwnerCnpjCpf}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarTelephone</label>
                        <input type="text" name="car_telephone" class="form-control" value="{{.CarTelephone}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarCellPhone</label>
                        <input type="text" name="car_cellphone" class="form-control" value="{{.CarCellPhone}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarTypePeople</label>
                        <input type="text" name="car_type_people" class="form-control" value="{{.CarTypePeople}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarTechnology</label>
                        <input type="text" name="car_technology" class="form-control" value="{{.CarTechnology}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarTrackerID</label>
                        <input type="text" name="car_tracker_id" class="form-control" value="{{.CarTrackerID}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarCommunication</label>
                        <input type="text" name="car_communication" class="form-control" value="{{.CarCommunication}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarSecTechnology</label>
                        <input type="text" name="car_sec_technology" class="form-control" value="{{.CarSecTechnology}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarIDTrackerSec</label>
                        <input type="text" name="car_id_rastreador_sec" class="form-control" value="{{.CarIDTrackerSec}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarCommunicationSec</label>
                        <input type="text" name="car_communication_sec" class="form-control" value="{{.CarCommunicationSec}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarFixed</label>
                        <input type="text" name="car_fixed" class="form-control" value="{{.CarFixed}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="quantidade">CarBondType</label>
                        <input type="text" name="car_bond_type" class="form-control" value="{{.CarBondType}}">
                    </div>
                </div>
            </div>
            <button type="submit" value="salvar" class="btn btn-success">Atualizar</button>
            <a class="btn btn-info" href="/">Voltar</a>
        </form>
    </body>

</html>
</div>
</body>

</html>

{{end}}